*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

img svg {
    width: 100%;
    display: block;
}


html {
    font-size: 65.5%;
}

:root {
    --primary-clr: hsl(0, 100%, 68%);
    --main-bg:  hsl(207, 33%, 95%);
    --heading-clr: hsl(230, 29%, 20%);
    --body-clr: hsl(230, 11%, 40%);
    --sub-text: hsl(231, 7%, 65%);
}

